html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  color: #333;
  background-color: #000;
  overflow-y:hidden;
}

body,html {
  height: 100%;
}

video#home_vid {
  position:absolute;
  left:50%;
  top:50%;
  min-width:100%;min-height:100%;
  width:auto;height:auto;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index:0;
  background-size:cover;
}

.vid_wrapper {
  position: relative;
  width:100%;height:100%;
  overflow:hidden;
}

.mobile_hp_img {
  width: 100%;
  height: 1000px;
}

@-ms-viewport {
  width: device-width;
}

.visible-xs-block,
.visible-sm-block {
  display: none !important;
}

@media (max-width:767px) {
  .visible-xs-block {
    display: block !important;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .visible-sm-block {
    display: block !important;
  }
}

@media (max-width:767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .hidden-sm {
    display: none !important;
  }
}

.logo_text {
  position: fixed;
  top: 5px;
  left:50%;
  margin-left:-250px;
  color: #fff;
  text-align: center;
  width: 100%;
  z-index: 9999;
  font-size: 25px;
  max-width: 500px;
  line-height: 21px;
}

.header_text {
  position: fixed;
  top: 48%;
  width: 80%;
  margin-left: 10%;
  font-size: 60px;
  z-index: 9999;
}

.social_text{
  position: fixed;
  bottom: 15px;
  left:50%;
  margin-left: -200px;
  color: #fff;
  text-align: center;
  width: 100%;
  z-index: 9999;
  font-size: 80px;
  max-width: 400px;
  line-height: 21px;
}


.cta_text {
  width: 100%;
  position: absolute;
}

.animated {
  -webkit-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

